.atamadaka > * {
  border: 0 solid red;
}

.heiban > * {
  border: 0 solid blue
}

.nakadaka > * {
  border: 0 solid darkorange;
}

.odaka > * {
  border: 0 solid green;
}

.low-pitch {
  border-bottom-width: 2px;
}

.high-pitch {
  border-left-width: 2px;
  border-top-width: 2px;
  border-right-width: 2px;
}

.high-pitch:first-of-type {
  border-left: none;
}

.high-pitch:last-of-type {
  border-right: none;
}

